* {
    box-sizing: border-box;
}
 
html, body {
    margin: 0;
    padding: 0;
    
}

.wrapper {
    margin: auto;
    margin-top: 5rem;
    width: 15rem;
    background-color: grey;
    text-align: center;
    padding: 1rem;
}

.display {
    height: 3rem;
    background-color: lightgreen;
    margin-bottom: 1rem;
    border: black 1px solid;
}